/* Optional: Makes the Sticky Footer. */
html,
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #D7d7d7;
}
main {
    flex: 1 0 auto;
}

.title{
    color: #2B2301;
    padding-left: 10px;
    font-size: 28px;
}
.brand-logo{
    height: 100%;
}
.brand-logo .circle{
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.container.input-box{
    padding-top: 20px;
}
/* input field */
input[type=text]:not(.browser-default){
    border-bottom: 1px solid #2B2301;
}

/* label color */
.input-field label {
    color: #2B2301;
    font-size: 22px;
}
/* label focus color */
.input-field input[type=text]:not(.browser-default):focus + label {
    color: #000;
}
/* label underline focus color */
.input-field input[type=text]:not(.browser-default):focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.bg-yellow{
    background-color: #FFCC00;
}
.btn.bg-yellow:hover{
    background-color: #FFCC33;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height:400px;
}

#timer{
    background:rgba(255,255,255,.95);
    font-size: 16px;
    margin: 10px;
}
.page-footer{
    padding-top: 0px;
    background-color: #333333;
}
.footer-copyright .copyright{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.footer-copyright .copyright .github{
    display: flex;
    justify-items: center;
}
.footer-copyright .copyright .github img{
    height: 20px;
    padding-right: 10px;
}

