/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 22px;
}
.nav{
    padding:0px 30px;
}
.row .col{
    padding: 0px;
}
.container.input-box{
    padding-top: 20px;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height:calc(100% - 200px);
}


#directions-panel {
    margin-top: 10px;
    background-color: #ffee77;
    padding: 10px;
    overflow: scroll;
    height: 174px;
}